body {
  background-color: #000000;
  color: white;
  font-family: Pavanam;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 700px
}
p {
  font-family: Pavanam;
  font-size: 16px;
}
h1 {
  color: orange;
  font-family: Baloo Bhaina;
  font-size: 50px;
}
h2{
  font-size: 20px;
  font-family: David Libre;
  color: ;
}
h3 {
  font-family: David Libre;
  color: orange;
  text-align: center;
  background-color: #222222;
  border: 10px solid #222222;
  border-radius: 8px;
}
a:link, a:visited {
  color: white;
  text-decoration: none;
}
a:hover {
  color: black;
  background-color: white;
  padding: 13px;
}
.menu {
  max-width: 400px;
  text-align: center;
}
.white-line {
  padding-bottom: 10px;
  border-bottom: 10px solid white;
}
img {
  max-width:100%
}
.git, .git:hover {
  background-color: black;
  color: white;
  text-decoration: underline;
  padding: 0;
}