$shadow-effect: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$back-gradient: 142deg, #8f7be1, #9fa2ff;

body {
  background: linear-gradient($back-gradient);
}

.h {
  text-align: center;
  font-family: Cutive;
  }
.flex {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  max-width: 800px;
  margin: auto;
  }
#input {
  width: 40%;
  box-shadow: $shadow-effect;
  padding: 5px;
}
#output {
  width: 40%;
  background-color: white;
  padding: 15px;
  box-shadow: $shadow-effect;
}