h1, h4 {
  text-align: center
}
#flex {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  margin: 30px auto auto auto;
}
#box {
  width: 300px;
  height: 300px;
  background-color: lightgrey;
  position: relative
}
.square {
  width: 10px;
  height: 10px;
}
ul {
  font-size: 14px;
  width:170px
}
#boss-pad {
  background-color: yellow;
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 70px;
  height: 40px;
  animation-name: flash;
  animation-duration: 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes flash {
    from {background-color: yellow;}
    to {background-color: white;}
}

#link {
  color: #0645AD;
  text-decoration: none;
}

#link:hover {
  text-decoration: underline;
}

#link:active {
  text-decoration: underline;
}

#link:visited {
  color: #0645AD;
  text-decoration: none;
}
