h1, h2 {
  text-align: center
}
#chart {
  width: 600px;
  margin: 0 auto
}
div.tooltip {
  position: absolute;
  text-align: left;
  max-width: 120px;
  padding: 5px;
  font-size: 12px;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}