.title {
  margin: 20px;
  font-size: 60px;
  text-align: center;
}

.city {
  text-align: center;
  font-size: 30px;
}

.temp-box {
  max-width: 60px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 25px
}

#icons {
  margin-top: 10px;
  max-width: 4em;
}
.footer {
  text-align:center
}