$shadow-effect: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
0 6px 20px 0 rgba(0, 0, 0, 0.19);
$back-gradient: 142deg, #8f7be1, #9fa2ff;
body {
  background: white;
}

h1 {
  text-align: center;
}

.card {
  width: 900px;
  margin: 35px auto auto auto
}